/*background colors*/
$main-color:#FFFFFF;
$menu-color: #F3F4F9;
$cards-color: #fafafa;
$cards-border: #C4C4C4;
    
        /*fonts color*/
$black-color-card: #000000;
$gray-color: rgba(0, 0, 0, 0.45);
$red-color: #DF212D;
    
        /*menu colors*/
$blue-color: #34ABE0;
$text-menu-color: #333333;

        /*height cards*/
$desktop-height-card: 161px;
$desktop-width-card: 347px;


$tablet-height-card: 144px;
$tablet-width-card: 296px;

$mobile-height-card: 130px;
$mobile-width-card: 268px;